* {
    background-color: #1c2e4e;
    color: white;
}

body {
    padding: 10px;
}

.headings {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.486);
    border-radius: 2px;
    padding: 10px;
}
h1 {
    font-size: 1.5rem;
    flex-grow: 1;
}
#playerScore, #computerScore {
    border:1px solid white;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 113.16px;
    margin: 10px;
    background-color: white;
}

.scorePlaceholder, .score {
    background-color: transparent;
    color: #1c2e4e;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    gap:5px;
}
.scorePlaceholder {
    margin: 0;
    padding-top: 1px;
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.score {
    font-size: 3rem;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 70px;
    text-align: center;
}
.left img{
    border: 15px solid #eca318;
    border-radius: 50%;
    padding: 30px;
}
.right img{
    border: 15px solid #536ff4;
    border-radius: 50%;
    padding: 30px;
    
}
.result {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 60px;
    flex-grow: 0.1;
}

.result p {
    font-size: 2rem;
}
.start {
    background-color: white;
    color: #1c2e4e;
    padding: 10px 20px;
    border-radius: 10px; 
    border: none;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}
.choice {
    background-color: white;
    color: #1c2e4e;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1rem;
}
img {
    background-color: white;

}